<mat-toolbar color="accent" class='f-space-between f-align-center f-row' style="height: 50px;">
  <span class="text-left flex-1">
    <button *ngIf="headerData.backBtn" mat-icon-button (click)="_location.back()">
      <mat-icon aria-label="Example icon-button with a heart icon">arrow_back</mat-icon>
    </button>
    <span style="font-weight: 400; font-size: 16px; font-family: 'Montserrat';color: #333;">
    {{headerData.title}}
    </span>

  </span> 
  <span class='f-parent f-row  flex-1 f-justify-center title-text'>
    <mat-icon style="margin: 3px 10px 0 0">account_balance</mat-icon>
    <span style="font-weight: 400; font-size: 18px; font-family: 'Montserrat';">SchoolDb</span>
  </span>
  <span class="flex-1 text-right">
      <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu" [overlapTrigger]="false">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Check voicemail</span>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button>
        </mat-menu>
  </span>
</mat-toolbar>