<app-header [headerData]="headerData"></app-header>
<div class="container f-parent f-space-between f-align-top f-row">

  <div class="flex-1 school-container">

    <input matInput placeholder="Search" [ngModel]="search" class="my-text-box" (ngModelChange)='searchRecords($event)'>
    <div [style.overflow]="'auto'" [style.height.px]="windowHeight">
      <mat-nav-list>
        <a matLine mat-list-item class="alist" *ngFor="let school of schools; let i = index" href="javascript:void(0)"
          (click)="showSchool(school)" (focus)="showSchool(school)" [ngClass]="{'fistListItem':i == 0}">{{ school.name
          }}</a>
      </mat-nav-list>
    </div>

  </div>
  <!-- <p><a [routerLink]="['/login']">Logout</a></p>
<p><a routerLink="/products">To product component</a></p> -->
  <div class="flex-4" style="padding: 0 30px;">
    <div *ngIf="selectedSchool" class="f-parent f-space-between f-align-top f-row">
      <div class="flex-2">
        <h2>{{selectedSchool.name}}</h2>
        <em>ESTD {{ selectedSchool.estd}}</em>
        <p>
          <strong>{{ selectedSchool.principal }} </strong>
        </p>
        <p>
          <small>Adress</small><br>
          {{ selectedSchool.address }}
        </p>
      </div>
      <div class="flex-1 f-parent f-justify-right">
        <div *ngIf="photos" style="padding-top: 15px">
          <img [src]="selectedSchool.photo" style="width: 250px" />
        </div>
      </div>

    </div>
  </div>
</div>