<app-header [headerData]="headerData"></app-header>
<div class="container">

  <mat-card [style.width.px]="'400'">
    <mat-card-header>
        <mat-card-title>CARD TITLE</mat-card-title>
    </mat-card-header>
    <mat-card-content [style.overflow]="'auto'" [style.height.px]="windowHeight">
      <ul>
          <li *ngFor="let school of schools">{{school.name}} {{school.estd}}</li>
      </ul>
    </mat-card-content>
  </mat-card>
  <!-- <p><a [routerLink]="['/login']">Logout</a></p>
<p><a routerLink="/products">To product component</a></p> -->
</div>
