<mat-toolbar color="accent" class='f-space-between f-align-center f-row'>
  <span class="text-left flex-1">
    <button mat-icon-button>
      <mat-icon aria-label="Example icon-button with a heart icon">arrow_back</mat-icon>
    </button>
    <button mat-stroked-button color="primary">
      <mat-icon aria-label="Example icon-button with a heart icon">arrow_back</mat-icon>
      Primary
    </button>
  </span>
  <span class='f-parent f-row  flex-1 f-justify-center'>
    <img src="../assets/images/logo-dark.png" width="30px" height="30px" style="margin-right: 10px;" />
    <span>Sales Analysis</span>
  </span>
  <span class="flex-1 text-right">
      <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu" [overlapTrigger]="false">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Check voicemail</span>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button>
        </mat-menu>
  </span>
</mat-toolbar>
<router-outlet></router-outlet>