<mat-toolbar color="accent" class='f-space-between f-align-center f-row' style="height: 50px;">
  <span class="text-left flex-1">
    <span style="font-weight: 400; font-size: 16px; font-family: 'Montserrat';color: #333;">
      Login
    </span>

  </span> 
  <span class='f-parent f-row  flex-1 f-justify-center title-text'>
    <mat-icon style="margin: 3px 10px 0 0">account_balance</mat-icon>
    <span style="font-weight: 400; font-size: 18px; font-family: 'Montserrat';">SchoolDb</span>
  </span>
  <span class="flex-1 text-right">
    <!-- <span style="font-weight: 400; font-size: 16px; font-family: 'Montserrat';color: #333;">
      Sign Up
    </span> -->
  </span>
</mat-toolbar>
<div class="loginform">
  <form #loginForm="ngForm" novalidate>

      <mat-form-field class="full-width">
        <input matInput placeholder="Email:" [(ngModel)]="loginUser.username" name="username" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input type="password" matInput placeholder="Password:" [(ngModel)]="loginUser.password" name="password" required>
      </mat-form-field>


      <button mat-raised-button (click)="login(loginUser)" [disabled]="loginForm.invalid" color="primary">Login</button>

  </form>

</div>

<a routerLink="/">HOme</a>