<form #loginForm="ngForm" novalidate>


    <mat-form-field class="full-width">
      <input matInput placeholder="Email:" [(ngModel)]="loginUser.username" name="username" required>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input type="password" matInput placeholder="Password:" [(ngModel)]="loginUser.password" name="password" required>
    </mat-form-field>


    <button mat-raised-button (click)="login(loginUser)" [disabled]="loginForm.invalid" color="primary">Login</button>

</form>