/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #EBEBEB;
  font-family: 'Montserrat';
  font-weight: 4000;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

/* Flex Helpers */

.f-parent
{
  display: flex
}
.f-row {
  flex-direction: row;
}

.f-column {
  flex-direction: column;
}

.f-wrap {
  flex-wrap: wrap;
}
.f-justify-center {
  justify-content: center;
}

.f-justify-left {
  justify-content: flex-start;
}

.f-justify-right {
  justify-content: flex-end;
}

.f-space-between {
  justify-content: space-between
}

.f-space-around {
  justify-content: space-around
}

.f-align-top {
  align-items: flex-start;
}

.f-align-center {
  align-items: center;
}

.f-item-left {
  align-self: flex-start;
}

.f-item-right {
  align-self: flex-end;
}

.f-item-center {
  align-self: center;
}

.f-item-stretch {
  align-self: stretch;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

.flex-7 {
  flex: 7;
}

.flex-8 {
  flex: 8;
}

.dialog-text-box {
  border: none;
  height: 100%;
  width: 100%;
  background-color: transparent;
  outline: none;
  font-size: 15px;
}


.appheader {
  -webkit-app-region: drag;
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}



::-webkit-scrollbar { 
  display: none; 
}

.muted {
  color: #999;
}